body{
    background-color: skyblue;
   
}
.box1{
    height: 30px;
}
.box2{
    height: 40px;
    padding-top: 10px;
}
.container
{

    padding-left: 450px;
    padding-top: 200px;
}
input[type=text]
{
    height: 30px;width: 300px;
}
input[type=password]
{
    height: 30px;width: 300px;
}